<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Chaturbate -&gt; Chaster</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>