html
  head
    title= "Chaturbate -> Chaster"
  body
    h1= message
    script(src='/script.js')
    
    form(action="/connect_chaster" method="post")
      button(type="submit") Login with Chaster
      p= chaster_login
    
    form(onsubmit="return pollChaturbate()")
      input(name="eventToken")
      button(type="submit") Connect Chaturbate
      